{% extends 'base.html.twig' %}

{% block title %} | WHO WE ARE{% endblock %}

{% block body_image_mobile %}
    {{ asset('images/1.jpg') }}
{% endblock %}

{% block body_image %}
    {{ asset('images/1.jpg') }}
{% endblock %}

{% block body %}
    <h2>Who We Are</h2>
    <p>Quid turpius quam sapientis vitam ex insipientium sermone pendere? Et non ex maxima parte de tota iudicabis? Videamus igitur sententias eorum, tum ad verba redeamus. Quae sequuntur igitur?</p>
    <p>Ne tum quidem te respicies et cogitabis sibi quemque natum esse et suis voluptatibus? Et nunc quidem quod eam tuetur, ut de vite potissimum loquar, est id extrinsecus.</p>
    <p>Videamus igitur sententias eorum?</p>
{% endblock %}
